/*font-family: 'Playfair Display SC', serif;
font-family: 'Open Sans', sans-serif;*/

body {
	background-color: #FFD8CD;
}

/*#media {
	display: none;
}*/

.name {
	margin-top: 50px;
	display: inline-block;
	font-family: 'Playfair Display SC', serif;
	letter-spacing: 1.8px;
	font-size: 44px;
	text-decoration: none;	
	color: black;
}
	

.container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.link {
	margin: 0 auto;
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 13px;
}

nav	{
	margin: 10px auto;
	font-family: 'Open Sans', sans-serif;
}

.button {
	margin: 20px auto;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	background: white;
	color: black;
	text-align: center;
	padding: 12px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
	width: 300px;
	box-sizing: border-box;

}

.content-container {
	width: 75%;
	background-color: white;
	margin: 10px auto;
}

.description {
	padding: 30px;
	text-align: left;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	width: 700px;
	margin: 30px auto;
	line-height: 42px;
}

video {
	margin-top:	20px;
}

.fact {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 15px 0;
}

.all-the-media {
	background-color: white;
}

img {
	height: 400px;
}





