/*font-family: 'Playfair Display SC', serif;
font-family: 'Open Sans', sans-serif;*/

body {
	background-color: #FFD8CD;
}

/*#media {
	display: none;
}*/

.name {
	margin-top: 50px;
	display: inline-block;
	font-family: 'Playfair Display SC', serif;
	letter-spacing: 1.8px;
	font-size: 44px;
	text-decoration: none;	
	color: black;

}

#click-me {
	background: #FFF;
	padding: 10px 30px;
	width: 300px;	
	position: center;
}

#click-again {
	background: #FFF;
	padding: 10px 0;
	width: 300px;
	position: center;	
}	

.container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.link {
	margin: 0 auto;
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

nav	{
	margin: 10px auto;
	font-family: 'Open Sans', sans-serif;
}

.buttons {
	margin: 20px auto;
	display: inline-block;
}

.content-container {
	width: 75%;
	background-color: white;
	margin: 10px auto;
}

.description {
	padding: 30px;
	text-align: left;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	width: 700px;
	margin: 30px auto;
	line-height: 42px;
}

video {
	margin-top:	20px;
}

.fact {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 15px 0;
}

.all-the-media {
	background-color: white;
}





